    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Trellis-Logic</h2>
              <br/>
                <p>Trellis-Logic is a contract engineering company specializing in Embedded Software and Firmware for Industry and Internet of Things (IoT).</p>
                <p>Trellis-Logic is owned by Dan Walkes, who has more than 15 years of embedded software and hardware development experience on commercial product. Dan led firmware development for <a href=http://www.tandbergdata.com/us/index.cfm/products/removable-disk/>RDX USB and SATA storage devices</a> which have shipped over 2 million units worldwide. Dan holds a BS in Electrical Engineering from South Dakota State University and an MS in Electrical and Computer Engineering from the University of Colorado at Boulder</p>
                <br/>
              </div>
        </div>
    </section>
